# Projeto 1 - Ciência dos Dados

Nome: __Alexandre Antar__

Nome: __Gabriel de Araujo Alves__

Nome: __Renato Fanfrachini Falcao__

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [47]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re
import emoji

ModuleNotFoundError: No module named 'emoji'

In [48]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\PC\Desktop\2 SEMESTRE\CDADOS\Projeto 1\Project1

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [49]:
filename = 'brahma.xlsx'

In [50]:
train = pd.read_excel(filename, sheet_name = 'Treinamento')
train.head(5)

                                         Treinamento  Relevancia
0  rt @sophiaecris: @marianaa2mari foi vcs crlh !...           0
1  @moraesbrunita pelo visto na mamadeira já era ...           0
2  @purosucodosurto o cara não tem um pau tem um ...           0
3  gente vcs que tão em home office a mais tempo ...           1
4  rt @luciusnaweb: eu depois de dois latões de b...           0

In [51]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relevancia
0  @elissanmanoel tão costurando brahma ? hahaha ...           0
1  rt @nayaralucas11: era só uma praia e brahma t...           0
2  arrumando meu guarda roupa eis que encontro um...           0
3  desceu foi whisky misturado c brahma kkkkkkkkk...           0
4  rt @carolaguiarcm: hj eu só queria estar numa ...           0

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

O produto escolhido foi a cerveja Brahma, uma marca nacional e bem popular de cerveja e a classificação dos tweets foram feitos da seguinte forma:

* -1 : Relevante negativo -> Essa classificação se refere aos tweets que mecionavam o a marca de cerveja de forma negativa, seja com reclamações acerca do produto ou associando a marca à alguma experiência ruim.
* 0 : Irrelevante -> Essa classificação se refere aos tweets que mecionavam o a marca de cerveja de forma neutra, sem reclamações ou elogios ao produto ou que não se referiram à cerveja.
* 1 : Relevante positivo -> Essa classificação se refere aos tweets que mecionavam o a marca de cerveja de forma positiva, seja com elogios acerca do produto ou associando a marca à alguma experiência boa.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [52]:
train['Relevancia'] = train['Relevancia'].astype('category')

train['Relevancia'].cat.categories = ['Relevante negativa', 'Não relevante', 'Relevante positiva']

In [53]:
train.head(6)

                                         Treinamento          Relevancia
0  rt @sophiaecris: @marianaa2mari foi vcs crlh !...       Não relevante
1  @moraesbrunita pelo visto na mamadeira já era ...       Não relevante
2  @purosucodosurto o cara não tem um pau tem um ...       Não relevante
3  gente vcs que tão em home office a mais tempo ...  Relevante positiva
4  rt @luciusnaweb: eu depois de dois latões de b...       Não relevante
5  acho q vou beber uma hj, desde domingo sem beb...  Relevante negativa

In [54]:
def cleanup(text):
    punctuation = '[,.;:()!?\/-@]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed

In [55]:
irrelevante = train.loc[train['Relevancia'] == 'Não relevante',:]
relevante_positiva = train.loc[train['Relevancia'] == 'Relevante positiva',:]
relevante_negativa = train.loc[train['Relevancia'] == 'Relevante negativa',:]

lista_irrelevante = []
lista_positiva = []
lista_negativa = []

In [56]:
# Para os tweets irrelevantes:
for twt in irrelevante.Treinamento:
    tweet = cleanup(twt)
    tweet_lista = tweet.split()
    for palavra in tweet_lista:
        lista_irrelevante.append(palavra)

In [57]:
# Para os tweets relevantes positivos:
for twt in relevante_positiva.Treinamento:
    tweet = cleanup(twt)
    tweet_lista = tweet.split()
    for palavra in tweet_lista:
        lista_positiva.append(palavra)

In [58]:
# Para os tweets relevantes negativos:
for twt in relevante_negativa.Treinamento:
    tweet = cleanup(twt)
    tweet_lista = tweet.split()
    for palavra in tweet_lista:
        lista_negativa.append(palavra)

In [59]:
serie_irrelevante = pd.Series(lista_irrelevante)
serie_irrelevante.head(10)

0              rt
1     sophiaecris
2    marianaamari
3             foi
4             vcs
5            crlh
6              eu
7          estava
8              de
9             boa
dtype: object

In [60]:
serie_positiva = pd.Series(lista_positiva)
serie_positiva.head(10)

0     gente
1       vcs
2       que
3       tão
4        em
5      home
6    office
7         a
8      mais
9     tempo
dtype: object

In [61]:
serie_negativa = pd.Series(lista_negativa)
serie_negativa.head(10)

0       acho
1          q
2        vou
3      beber
4        uma
5         hj
6      desde
7    domingo
8        sem
9      beber
dtype: object

In [62]:
# Tabela de freqências relativas das palavras nos tweets irrelevantes:
tabela_irrelevante_relativa = serie_irrelevante.value_counts(True)
tabela_irrelevante_relativa

brahma          0.063599
de              0.036049
e               0.028136
a               0.027257
uma             0.015240
                  ...
futebol_info    0.000293
diaz            0.000293
marcar          0.000293
buteco          0.000293
⚠️              0.000293
Length: 1352, dtype: float64

In [63]:
# Tabela de freqências relativas das palavras nos tweets relevantes positivos:
tabela_positiva_relativa = serie_positiva.value_counts(True)
tabela_positiva_relativa

brahma       0.073309
de           0.035308
e            0.030820
uma          0.027528
eu           0.023938
               ...
ondinha      0.000299
destilado    0.000299
mamãe        0.000299
aberto       0.000299
voltou       0.000299
Length: 1139, dtype: float64

In [64]:
# Tabela de freqências relativas das palavras nos tweets relevantes negativos:
tabela_negativa_relativa = serie_negativa.value_counts(True)
tabela_negativa_relativa

brahma     0.083784
é          0.032432
de         0.029730
uma        0.027027
a          0.021622
             ...
como       0.002703
vocês      0.002703
tava       0.002703
tinha      0.002703
receita    0.002703
Length: 211, dtype: float64

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Os trabalhos vão evoluir em conceito dependendo da quantidade de itens avançados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separação de espaços entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transformações que não afetem a qualidade da informação ou classificação
* Criar categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que não posso usar o próprio classificador para gerar mais amostras de treinamento
* Propor diferentes cenários para Naïve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**