# Projeto 1 - Ciência dos Dados

Nome: __Alexandre Antar__

Nome: __Gabriel de Araujo Alves__

Nome: __Renato Fanfrachini Falcao__

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [51]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re
import emoji

In [52]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Ale\Desktop\Project1

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [53]:
filename = 'brahma.xlsx'

In [54]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Relevancia
0  rt @sophiaecris: @marianaa2mari foi vcs crlh !...           0
1  @moraesbrunita pelo visto na mamadeira já era ...           0
2  @purosucodosurto o cara não tem um pau tem um ...           0
3  gente vcs que tão em home office a mais tempo ...           1
4  rt @luciusnaweb: eu depois de dois latões de b...           0

In [55]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relevância
0  @elissanmanoel tão costurando brahma ? hahaha ...           0
1  rt @nayaralucas11: era só uma praia e brahma t...           0
2  arrumando meu guarda roupa eis que encontro um...           0
3  desceu foi whisky misturado c brahma kkkkkkkkk...           0
4  rt @carolaguiarcm: hj eu só queria estar numa ...           0

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [56]:
train['Relevancia'] = train['Relevancia'].astype('category')

train['Relevancia'].cat.categories = ['Relevante negativa', 'Não relevante', 'Relevante positiva']

In [57]:
train.head(6)

                                         Treinamento          Relevancia
0  rt @sophiaecris: @marianaa2mari foi vcs crlh !...       Não relevante
1  @moraesbrunita pelo visto na mamadeira já era ...       Não relevante
2  @purosucodosurto o cara não tem um pau tem um ...       Não relevante
3  gente vcs que tão em home office a mais tempo ...  Relevante positiva
4  rt @luciusnaweb: eu depois de dois latões de b...       Não relevante
5  acho q vou beber uma hj, desde domingo sem beb...  Relevante negativa

In [58]:
def cleanup(text):
    punctuation = '[,.;:()!?\/-@]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed

In [75]:
# lista_positivo = []
# lista_negativo = []
# lista_irrelevante = []

for i in range(len(train.Treinamento) - 1):
    tweet = cleanup(train.Treinamento[i])
    
    irrelevante = train.loc[train['Relevancia'] == 'Não relevante']
    relevante_positiva = train.loc[train['Relevancia'] == 'Relevante positiva']
    relevante_negativa = train.loc[train['Relevancia'] == 'Relevante negativa']

                                           Treinamento          Relevancia
0    rt @sophiaecris: @marianaa2mari foi vcs crlh !...       Não relevante
1    @moraesbrunita pelo visto na mamadeira já era ...       Não relevante
2    @purosucodosurto o cara não tem um pau tem um ...       Não relevante
3    gente vcs que tão em home office a mais tempo ...  Relevante positiva
4    rt @luciusnaweb: eu depois de dois latões de b...       Não relevante
..                                                 ...                 ...
494  fui entrar no meu carro, olhei para o tapete e...  Relevante positiva
495  @brahmacerveja todo mundo gosta de brahma kkkk...  Relevante positiva
496  @ambev homem-brahma, de volta ao bar\n\n@luand...       Não relevante
497  @falatu_jpz realmente sim kkkkkk, 20taoo neee!...       Não relevante
498  @gasteidmspapai escuta os audiolivros. tem no ...       Não relevante

[499 rows x 2 columns]

In [63]:
tweet_cleanup = cleanup(tweet)
tweet_cleanup

'gasteidmspapai escuta os audiolivros tem no youtube e a narração é excelente'

In [64]:
tweet.split()

['@gasteidmspapai',
 'escuta',
 'os',
 'audiolivros.',
 'tem',
 'no',
 'youtube',
 'e',
 'a',
 'narração',
 'é',
 'excelente.']

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Os trabalhos vão evoluir em conceito dependendo da quantidade de itens avançados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separação de espaços entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transformações que não afetem a qualidade da informação ou classificação
* Criar categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que não posso usar o próprio classificador para gerar mais amostras de treinamento
* Propor diferentes cenários para Naïve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**